#weatherMap { height: 300px; }
html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background: #F7F7F7;
}
  button {
    background-color: #93D682;
    color: #F7F7F7;
    border-radius: 5px;
    outline:none;
  }
  button:hover {
    background-color: #1f4316;
  }
  input {
    outline:none;
    height: 1rem;
  }
img {
  height: 9rem;
}
form {
  padding-bottom: 1rem;
}
#heading {
  margin-block-start: 0;
  margin-block-end: 0; 
  text-align: center;
}
.weatherCards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  
}